<h1>{{title}}</h1>
<div class="row">
    <div class="col-md-6 well">
        <form action="" [ngFormModel]="form" (ngSubmit)="onSubmit(f.form._value)" #f="ngForm">
            <fieldset>
                <legend>User</legend>
                <label for="name">Name:</label>
                <input type="text" id="name" class="form-control" ngControl="name" #name="ngForm" name="name" [(ngModel)]="user.name">
                <div class="alert alert-danger" *ngIf="name.touched && !name.valid">Name is required.</div>

                <label for="email">Email:</label>
                <input type="text" id="email" class="form-control" ngControl="email" #email="ngForm" [(ngModel)]="user.email">
                <div *ngIf="email.touched && email.errors">
                    <div class="alert alert-danger" *ngIf="email.errors.validateEmail">Please enter a valid email address.</div>
                </div>

                <label for="phone">Phone:</label>
                <input type="text" id="phone" class="form-control" ngControl="phone" #phone="ngForm" [(ngModel)]="user.phone">
            </fieldset>

            <fieldset ngControlGroup="address">
                <legend>Address</legend>
                <label for="street">Street:</label>
                <input type="text" id="street" class="form-control" ngControl="street" [(ngModel)]="user.address.street">

                <label for="suite">Suite:</label>
                <input type="text" id="suite" class="form-control" ngControl="suite" [(ngModel)]="user.address.suite">

                <label for="city">City:</label>
                <input type="text" id="city" class="form-control" ngControl="city" [(ngModel)]="user.address.city">

                <label for="zipcode">ZipCode:</label>
                <input type="text" id="zipcode" class="form-control" ngControl="zipcode" [(ngModel)]="user.address.zipcode">
            </fieldset>
            <button class="btn btn-primary" [disabled]="!form.valid" >Save</button>
        </form>
    </div>
</div>
